.introBox {
  .talk-title {
    color: #fff300;
  }
}

ul li {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.reveal pre code {
  padding: 1rem;
}

.danger {
  color: #ff0000;
}

.good {
  color: #00ff00;
}
